$background-color-base: red;
$background-color-important: rgb(82, 0, 0);
$background-color-warning: rgb(255, 195, 195);
$font-family: "Comic Sans MS";
$font-size: 15px;
$font-family-principal: "Arial";
$font-family-secondary: "Courier New";
$shadow-box: (-10px 15px 10px 0px black);
$border-color: 1px black, solid;
$border-radius: 0px;
