$background-color-base: blue;
$background-color-important: rgb(1, 1, 84);
$background-color-warning: rgb(0, 255, 251);
$font-family: "Comic Sans MS";
$font-size: 15px;
$font-family-principal: "Arial";
$font-family-secondary: "Arial";
$shadow-box: (10px 15px 10px 0px black);
$border-color: 1px black, solid;
$border-radius: 0px;
