@use "base" as *;
@use "sass:color";

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-content: center;
}

.container-1,
.container-2,
.container-3 {
  display: grid;
  grid-template-columns: repeat(9, 140px);
  gap: $gap;
  justify-content: center;
  margin: 30px;
}

.box {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  color: $text-color;
  font-size: $font-size;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10%;
}

@mixin backgroundColor($color) {
  .base-color {
    background-color: $color;
  }
  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: color.scale($color, $lightness: -1 * $i * 15%);
    }
    .lighten-#{$i} {
      background-color: color.scale($color, $lightness: $i * 15%);
    }
  }
}
.container-1 {
  @include backgroundColor($color-base-1);
}

.container-2 {
  @include backgroundColor($color-base-2);
}
.container-3 {
  @include backgroundColor($color-base-3);
}
