@use "base" as *;

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-content: center;
}

.container-1,
.container-2,
.container-3 {
  display: grid;
  grid-template-columns: repeat(9, 140px);
  gap: $gap;
  justify-content: center;
  margin: 30px;
}

.box {
  display: flex;
  justify-content: center;
  color: $text-color;
  font-size: $font-size;
  padding: 30px;
}

.base1-color {
  background-color: $base-color-1;
}

@for $i from 1 through 4 {
  .darken1-#{$i} {
    background-color: scale-color($base-color-1, $lightness: -1 * $i * 15%);
  }
  .lighten1-#{$i} {
    background-color: scale-color($base-color-1, $lightness: $i * 15%);
  }
}

.base2-color {
  background-color: $base-color-2;
}

@for $i from 1 through 4 {
  .darken2-#{$i} {
    background-color: scale-color($base-color-2, $lightness: -1 * $i * 15%);
  }
  .lighten2-#{$i} {
    background-color: scale-color($base-color-2, $lightness: $i * 15%);
  }
}

.base3-color {
  background-color: $base-color-3;
}

@for $i from 1 through 4 {
  .darken3-#{$i} {
    background-color: scale-color($base-color-3, $lightness: -1 * $i * 15%);
  }
  .lighten3-#{$i} {
    background-color: scale-color($base-color-3, $lightness: $i * 15%);
  }
}
