@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,700;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #141414;
  font-family: Jost;
  color: white;
}
main {
  max-width: 1024px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #141414;
  max-width: 1024px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin: 20px 5px 30px 30px;
  width: 100%;
}

.platform-title {
  display: none;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.header-buttons div {
  padding: 20px;
  border-radius: 10%;
}

.header-buttons :hover {
  background-color: white;
  color: #141414;
}

#top-text::before {
  font-weight: 600;
  content: "3";
}
.top-item:nth-child(1),
.top-item:nth-child(2) {
  display: none;
}
.section-title {
  font-size: 25px;
  margin: 50px 0px 5px 30px;
}

.top {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.first img,
.second img {
  display: flex;
  width: 100%;
  align-items: center;
  height: auto;
  object-fit: cover;
}

.first,
.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.item :hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.item {
  width: 100%;
}

@media screen and (min-width: 850px) {
  .platform-title {
    display: flex;
    font-size: 20px;
    width: 100%;
    margin-left: 10px;
  }

  .section-title {
    font-size: 22px;
    margin: 50px 0px 5px 30px;
  }

  .top {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .first,
  .second {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
  }

  .top-item img {
    width: 100%;
    min-width: 250px;
    height: auto;
    object-fit: cover;
  }
  .item img {
    width: 100%;
    min-width: 225px;
    height: auto;
    object-fit: cover;
  }
  .item {
    flex: 1;
  }
}
@media screen and (min-width: 1024px) {
  .top-item:nth-child(1),
  .top-item:nth-child(2) {
    display: block;
  }
  #top-text::before {
    font-weight: 600;
    content: "5";
  }
  .top-item img {
    min-width: 200px;
  }
}
/* @media screen and (max-width: 1280px) {
  #top-text::before {
    content: "3";
  }
  .platform-title {
    display: none;
  }
  .top-item:nth-child(1),
  .top-item:nth-child(2) {
    display: none;
  }
  .first.second {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

@media screen and ((min-width: 601px) and (max-width:800px)) {
  #top-text::before {
    content: "3";
  }
  .section-title {
    font-size: 25px;
    padding: 10px;
  }
  .platform-title {
    display: none;
  }
  .top-item:nth-child(1),
  .top-item:nth-child(2) {
    display: none;
  }
  .top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .first.second > img {
    padding: 10px;
  }
  .first.second {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
} */
/* @media screen and (max-width: 600px) {
  #top-text::before {
    content: "3";
  }
  .section-title {
    font-size: 25px;
    padding: 10px;
  }
  .platform-title {
    display: none;
  }
  .top-item:nth-child(1),
  .top-item:nth-child(2) {
    display: none;
  }
  .top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .first.second > img {
    padding: 10px;
  }
} */
